page-login {
    .scroll-content {
        background: #efeff3;

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #9b9bd3;
            width: 80%;
            height: 75%;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 70px;
            overflow: hidden;

            z-index: 1;

            .logo {
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                padding: 100px 0;
                
                img {
                    display: block;
                    width: 40%;
                    margin: auto;
                }
            }

            .form-ctrl {
                margin: 10px 0;
                width: 100%;
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                color: #fff;
                label {
                    flex: 0 15%;
                    background: #a6a6d8;
                    font-size: 1.5em;
                    text-align: center;
                    padding: 15px 0;
                }
                input {
                    flex: 1;
                    padding: 0 20px;
                    font-size: 1.3em;
                    background: #b0b0dc;
                    border: none;
                }
            }

            .switches {
                display: flex;
                width: 100%;
                justify-content: space-between;
                ion-item {
                    background: transparent;
                    color: #fff;
                    width: 45%;
                    padding: 0;
                    ion-label {
                        font-size: 1.1em;
                        margin-right: 0;
                    }
                    ion-toggle {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    button {
                        font-size: 1em;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            .settings {
                position: relative;
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 50px 0;
                button {
                    padding: 0;
                    font-size: 1.4em;
                }
                &>div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%);
                    height: 20px;
                    width: 2px;
                    background: #fff;
                }
            }

            .btn-login {
                color: #9b9bd3;
                font-weight: bold;
            }
        }
    }

    p.version {
        position: absolute;
        color: gray;
        bottom: 2px;
        right: 15px;
    }
}
