<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="container">
    <div class="logo">
      <img src="assets/imgs/logo.png" alt="">
    </div>
    <div class="form-ctrl">
      <label>ID</label><input placeholder="아이디를 입력하세요" type="text" [(ngModel)]="id" (keyup.enter)="login()">
    </div>
    <div class="form-ctrl">
      <label>PW</label><input placeholder="비밀번호를 입력하세요" type="password" [(ngModel)]="pw" (keyup.enter)="login()">
    </div>
    <div class="switches">
      <ion-item no-lines>
        <ion-label>아이디 저장</ion-label>
        <ion-toggle [(ngModel)]="idSaveCheck" color="purple"></ion-toggle>
      </ion-item>
      <ion-item no-lines>
        <ion-label>카페포스로 실행</ion-label>
        <ion-toggle [(ngModel)]="isCafe" color="purple"></ion-toggle>
      </ion-item>
    </div>
    <div class="switches">
      <ion-item no-lines>
        <ion-label>TCP 프린터 사용</ion-label>
        <ion-toggle [(ngModel)]="useTcp" color="purple" (ionChange)="setUseTcp($event.checked)"></ion-toggle>
      </ion-item>
      <ion-item no-lines>
        프린터 IP설정
        <button ion-button item-end clear color="white" [disabled]="!useTcp" (click)="setPrnterIp()">설정</button>
      </ion-item>
    </div>
    <div class="settings">
      <button ion-button clear color="white" (click)="setIp()">결제단말기 IP설정</button>
      <div></div>
      <button ion-button clear color="white" (click)="setOrderNo()">시작 주문번호 설정</button>
    </div>
    <button class="btn-login" ion-button full color="purple" (click)="login()" round large>로그인하기</button>
  </div>
  <p class="version">BUILD# SELFPOS.2100009.2018-12-05</p>
</ion-content>
