<ion-content [ngClass]="{ invert: invert }">
  <header class="modal-header">
    <h1 [innerHtml]="title"></h1>
    <button *ngIf="!invert" ion-button icon-only clear color="light" (click)="close()"><ion-icon name="close"></ion-icon></button>
    <button *ngIf="invert" ion-button icon-only clear (click)="close()"><ion-icon name="close"></ion-icon></button>
  </header>
  <div class="content" [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'card'">
      <img src="assets/imgs/card.png" alt="">
      <ion-icon name="arrow-up"></ion-icon>
    </ng-container>
    <ng-container *ngSwitchCase="'card_done'">
      <img src="assets/imgs/card_invert.png" alt="">
      <ion-icon name="arrow-down"></ion-icon>
    </ng-container>
    <ng-container *ngSwitchCase="'card_error'">
      <img src="assets/imgs/card_invert.png" alt="">
      <ion-icon name="arrow-down"></ion-icon>
    </ng-container>
    <ng-container *ngSwitchCase="'bc'">
      
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
      <button (click)="selectMode('card')" class="active">아니요 No</button>
      <button (click)="takeaway = true;selectMode('card')">네 Yes</button>
    </ng-container>
  </div>
  <footer *ngIf="message">
    <div [innerHtml]="message"></div>
    <div class="err" *ngIf="err">
      {{err}}
    </div>
    <button *ngIf="invert" ion-button outline color='dark' style="margin-top: 10px;" (click)="close()">확인</button>
  </footer>
</ion-content>
