page-pay {
    .scroll-content {
        display: flex;
        flex-direction: column;
        background: #000;
        color: #fff;
        text-align: center;
        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                display: block;
                width: 50%;
                margin: 30px auto;
            }
            button {
                display: block;
                margin: 20px auto;
                width: 35%;
                background: #000;
                color: #fff;
                font-size: 2em;
                font-weight: bold;
                border: 4px solid #fff;
                border-radius: 10px;
                padding: 20px;
                &.active {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }

    ion-icon {
        color: #fff;
        font-size: 3em;
    }

    footer {
        font-size: 2em;
        padding-bottom: 20px;
        .err {
            font-size: 0.7em;
            margin-top: 5px;
        }        
    }

    ion-content.invert .scroll-content {
        background: #fff;
        color: #000;
        ion-icon {
            color: #000;
        }
        header {
            color: #000;
            button ion-icon {
                color: #000;
            }
        }
    }
}
