<ion-content>
  <img class="bg-img" *ngIf ="!isCafe && data?.posBackUrl" [src]="data?.posBackUrl" alt="">
  <header *ngIf="!isCafe">
    <span (click)="slides.slideTo(0);category = null" [ngClass]="{ active: category == null }">전체 All</span>
    <span *ngFor="let item of data?.category; let i = index" (click)="slides.slideTo(0);page = 0;category = i" [ngClass]="{ active: category == i }" >{{item.name.ko}}</span>
  </header>
  <header *ngIf="isCafe && pages">
    <span *ngFor="let item of pages; let i = index" (click)="page = i" [ngClass]="{ active: page == i }" >{{item.name}}</span>
  </header>
  <ng-container *ngIf="data; else loading">
    <ng-container *ngIf="!isCafe">
      <ion-slides *ngIf="data.category | menuFlatten : category as flatted" pager>
        <ion-slide *ngFor="let slide of flatted.length | pager: 12">
          <ion-grid padding>
            <ion-row>
              <ion-col col-4 *ngFor="let item of flatted | slice: slide*12: 12">
                <button *ngIf="item" class="ripple item" [ngClass]="{ 'sold-out': item.soldOutYN != '0' }" (click)="item.opts.length > 0 || item.optGroups.length > 0?showMenuOption(item):addOrder(item)">
                  <div class="price">{{item.saleAmt | number}}</div>
                  <img [src]="item.thumbnailS?item.thumbnailS:'assets/imgs/default-menu.png'" alt="">
                  <div class="name">{{item.name.ko}}</div>
                  <div class="overlay">품절</div>
                </button>
                <div class="pad" *ngIf="!item"></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
      <!-- <div class="pagenation">
        <button (click)="paging(-1)" ion-button color="dark"><ion-icon name="ios-arrow-back">　이전페이지</ion-icon></button>
        <button (click)="paging(1)" ion-button color="dark">다음페이지　<ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div> -->
    </ng-container>
    <div class="map-container" *ngIf="isCafe && pages" style="padding: 0 16px;">
        <img-map
        [src]="pages[page].image"
        [maps]="pages[page].maps"
        (OnClick)="showMenuOption($event, true)"
      ></img-map>
    </div>
    <footer>
      <div class="total">
        <div class="btn-select-all" (click)="selectAll()">
          <ion-icon name="ios-checkmark-circle"></ion-icon>
          <div>전체선택<p class="eng">Select all</p></div>
        </div>
        <div class="btn-delete" (click)="deleteSelected()">선택삭제<p class="eng">Delete selected</p></div>
        <div class="btn-delete" (click)="order = []">전체삭제<p class="eng">Delete all</p></div>
        <div class="btn-pay" (click)="pay()"><div>총 {{total() | number}}원 결제하기<p class="eng">Make a payment</p></div></div>
      </div>
      <div class="list">
        <ng-scrollbar [viewClass]="'scroll-bar'">
          <ul>
            <li *ngFor="let item of order" @addOrder>
              <span (click)="item.selected = !item.selected">
                <ion-icon *ngIf="!item.selected" color="dark" name="ios-checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="item.selected" color="dark" name="ios-checkmark-circle"></ion-icon>
                <div>
                  {{item.menu.name.ko}}
                  <p *ngIf="!item.opts">옵션없음</p>
                  <p><span *ngFor="let opt of item.opts; let bFirst = first"><ng-container *ngIf="!bFirst">, </ng-container>{{opt.name}}</span></p>
                </div>
              </span>
              <div>
                <div class="cnt">
                  <button ion-button icon-only color="dark" (click)="remove(item)"><ion-icon name="remove"></ion-icon></button>
                  <span [@changeQuantity]="item.cnt">{{item.cnt}}</span>
                  <button ion-button icon-only color="dark" (click)="add(item)"><ion-icon name="add"></ion-icon></button>
                </div>
                <span class="price">{{price(item) | number}}원</span>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </footer>
  </ng-container>
  <ng-template #loading>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </ng-template>
</ion-content>