.intro {
    ion-backdrop {
        opacity: 0.9 !important;
    }
    .modal-wrapper {
        box-shadow: none !important;
    }
}

page-order {

    .bg-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .pagenation {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        margin-bottom: 10px;
    }
    .scroll-content {
        background: #dadada;
        padding-top: 50px;
        display: flex;
        flex-direction: column;

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 30px;
            z-index: 1;
    
            display: flex;
            justify-content: center;
            span {
                flex: 1;
                padding: 10px 0;
                background:#bababa;
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                color: #fff;
                margin-right: 3px;
                &:last-of-type {
                    margin-right: 0;
                }
                &.active {
                    background: #575757;
                    color: #fff;
                }
            }
        }

        ion-slides, .map-container {
            flex: 3;
            overflow-y: scroll;
            
            .swiper-pagination-bullet {
                width: 15px !important;
                height: 15px !important;
                opacity: 0.8 !important;
                background: #fff !important;
            }
            .swiper-pagination-bullet-active {
                background: #000 !important;
                opacity: 1 !important;
            }

            div.pad {
                height: 200px;
            }
            button.item {
                position: relative;
                background: #fff;
                height: 200px;
                border: 1px solid gray;
                font-size: 1em;
                text-align: center;
                padding: 0;

                img {
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                }

                .price {
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    background: rgb(59, 59, 59);
                    color: #fff;
                    padding: 5px;
                }
                .name {
                    padding: 5px;
                }

                .overlay {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    font-size: 1.5em;
                    font-weight: bold;
                    z-index: 100;
                }

                &.sold-out .overlay {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        footer {
            flex: 1;
            display: flex;
            flex-direction: column;
            background: #fff;
            overflow: hidden;
            z-index: 0;
            border-top: 2px solid #dadada;

            .total {
                display: flex;
                align-items: center;
                text-align: center;
                padding: 10px 30px;

                .btn-select-all {
                    text-align: left;
                    color: #575757;
                    font-size: 1.3em;
                    margin-right: 30px;
                    display: flex;
                    ion-icon {
                        margin-right: 10px;
                    }
                    p.eng {
                        font-size: 0.8em;
                        margin: 0;
                    }
                }
                .btn-delete {
                    font-size: 1.3em;
                    padding: 10px 0;
                    margin: 0 5px;
                    width: 17%;
                    border: 1px solid #000;
                    border-radius: 10px;

                    p.eng {
                        font-size: 0.7em;
                        margin: 0;
                    }
                }
                .btn-pay {
                    flex: 1;
                    border-radius: 10px;
                    background: #000;
                    color: #fff;
                    padding: 10px 0;
                    margin-left: 20px;
                    font-size: 1.3em;
                    font-weight: bold;
                    p.eng {
                        font-weight: normal;
                        font-size: 0.8em;
                    }
                }
            }

            .list {
                flex: 1;
                background: #dadada;
                padding: 10px 20px 10px 0;
                overflow-x: hidden;
                overflow-y: scroll;
                .-vertical  {
                    width: 12px !important;
                    .ng-scrollbar-thumb  {
                        border-radius: 7px !important;
                    }
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        display: flex;
                        margin: 15px 40px;
                        &>span {
                            flex: 1;
                            font-size: 1.4em;
                            display: flex;
                            align-items: center;
                            ion-icon {
                                margin-right: 10px;
                            }
                            p {
                                font-size: 0.8em;
                                color: #575757;
                                margin: 0;
                                margin-top: 5px;
                            }
                        }
                        &>div {
                            flex: 0 35%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .cnt {
                                display: flex;
                                align-items: stretch;
                                button, span {
                                    margin: 0;
                                }
                                &>span {
                                    background: #fff;
                                    padding: 0 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid #575757;
                                    font-size: 1.2em;
                                }
                            }
                            .price {
                                font-size: 1.4em;
                                font-weight: bold;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .lds-ring {
        margin: 50px auto;
        display: block;
    }
}
