// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

p.eng {
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
}

.modal-header {
  color: #fff;
  display: block;

  button {
    position: fixed;
    top: 10px;
    right: 0px;
  }
  h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
  }
  span {
      font-size: 2em;
      &.title {
        margin: 15px 25px;
        display: block;
      }
  }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .ripple {
    position: relative;
    overflow: hidden;
  }
  
  .ripple:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #363636;
    border-radius: 100%;
    opacity: .6;
  
    transform: scale(0);
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
    }
    10% {
      transform: scale(2.5);
    }
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
  
  .ripple:not(:active):after {
    animation: ripple 1s ease-out;
  }
  
  /* fixes initial animation run, without user input, on page load.
   */
   .ripple:after {
    visibility: hidden;
  }
  
  .ripple:focus:after {
    visibility: visible;
  }

  .intro .modal-wrapper {
    height: 90%;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .menu-modal .modal-wrapper {
    height: 70%;
    top: 50%;
    transform: translateY(-50%) !important;

    .modal-header h1 {
      font-size: 1.5em !important;
    }
  }