page-intro {
    ion-content {
        background: transparent !important;
        .scroll-content {
            background: #3f3f3f;
        }

        img {
            width: 100%;
        }
    
        p {
            color: #fff;
        }
    }

    ion-footer {
        display: flex;
        justify-content: center;
        padding-top: 80px;
        // background: #000;
        button {
            flex: 1;
            background: #fff;
            color: #4b4b4b;
            border-radius: 15px;
            padding: 40px;
            font-size: 2.3em;
            font-weight: bold;
            max-width: 50%;
            .eng {
                font-size: 0.8em;
                font-weight: normal;
                margin-top: 10px;
            }

            &:first-of-type {
                margin-right: 15px;
            }
            &:last-of-type {
                margin-left: 15px;
            }
        }
    }
}
