<ion-content>
  <img *ngIf="img" [src]="img" alt="">
  <p *ngIf="!img">매장홍보 이미지를 등록해주세요</p>
</ion-content>
<ion-footer>
  <button (click)="viewCtrl.dismiss()">주문하기<p class="eng">Order here</p></button>
  <!-- <button (click)="viewCtrl.dismiss(false)">매장주문<p class="eng">For here</p></button> -->
</ion-footer>