page-repair {
    .scroll-content {
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        color: gray;
        border-bottom: 1px solid gray;
        padding: 25px;
        margin-bottom: 30px;
    }

    p {
        font-size: 1.5em;
        font-weight: bold;

        span {
            color: #787878;
            margin-right: 20px;
        }

        margin: 10px 0;
        padding: 0 30px;
    }

    h2 {
        padding: 0 30px;
        font-size: 1.5em;
        margin-top: 50px;
    }

    pre {
        background: #f0f0f0;
        margin: 0 30px 30px 30px;
        padding: 20px 15px;
        flex: 1;
    }

    ion-footer {
        text-align: center;
        padding: 25px;
        button {
            width: 200px;
        }
    }
}
