<ion-content padding>
  <h1>임시점검중</h1>
  <p><span>시작시간:</span>{{startDttm}}</p>
  <p><span>종료예정:</span>{{endDttm}}</p>
  <h2>점검내용 및 안내사항</h2>
  <pre>{{message}}</pre>
</ion-content>
<ion-footer>
  <button ion-button large color="gray" round (click)="refresh()">재실행</button>
</ion-footer>
