<!--
  Generated template for the SignpadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>서명해주세요..</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="canvasWrapper">
    <canvas #canvas id="worpic-canvas">
    </canvas>
  </div>
</ion-content>
