page-signpad {
    .canvasWrapper {
        position: relative;
        display: block;
        width: 100%;
        padding:2rem 0;
        position: relative;
    }

    #worpic-canvas {
        display: block;
        width: 100%;
        min-height: 300px;
        z-index: 5;
        box-shadow: 1px 2px 3px #c4c4c4;
    }
}
