<ion-content class="invert">
  <header class="modal-header">
    <h1>{{menu?'옵션 선택':'메뉴 선택'}}</h1>
    <!-- <p *ngIf="menu">{{menu.name.ko}}</p> -->
    <button ion-button icon-only clear color="black" (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
  </header>
  <ion-grid *ngIf="!menu">
    <ion-row>
      <ion-col col-6 *ngFor="let item of category?.menu">
        <button class="ripple item" [ngClass]="{ 'sold-out': item.soldOutYN != '0' }" (click)="item.soldOutYN == '0'?selectItem(item):null">
          <div class="price">{{item.saleAmt | number}}</div>
          <img [src]="item.thumbnailS?item.thumbnailS:'assets/imgs/default-menu.png'" alt="">
          <div class="name">{{item.name.ko}}</div>
          <div class="overlay">품절</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="select-opt" *ngIf="menu">
    <div class="item">
      <img [src]="menu.thumbnailS?menu.thumbnailS:'assets/imgs/default-menu.png'" alt="">
      <div class="name">{{menu.name.ko}}</div>
    </div>
    <ng-scrollbar [viewClass]="'scroll-bar'">
      <div class="opt-groups">
        <div class="opts">
          <ion-grid>
            <ion-row>
              <!-- <ion-col col-3>
                <div class="opt" [ngClass]="{ active: opts.length == 0 }" (click)="opts = []">옵션없음<p>자동선택</p></div>
              </ion-col> -->
              <ion-col col-3 *ngFor="let opt of menu.opts">
                <div class="opt" [ngClass]="{ active: isActive(opt) }" (click)="toggleOption(opt)">{{opt.name}}<p *ngIf="opt.amt > 0">+ {{opt.amt | number}}원</p></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="opts" *ngFor="let group of menu.optGroups">
          <h4>{{group.name}}</h4>
          <ion-grid>
            <ion-row>
              <ion-col col-3 *ngFor="let opt of group.opts">
                <div class="opt" [ngClass]="{ active: isActive(opt) }" (click)="toggleOption(opt, group)">{{opt.name}}<p *ngIf="opt.amt > 0">+ {{opt.amt | number}}원</p></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</ion-content>
<ion-footer *ngIf="menu">
  <div class="btn-select" (click)="selectItem(menu, true)">선택완료<p>{{total() | number}}원</p></div>
</ion-footer>