page-menu {
    ion-content.invert .scroll-content {
        background: #fff;
        color: #000;
        ion-icon {
            color: #000;
        }
        header {
            color: #000;
            button ion-icon {
                color: #000;
            }
        }
    }

    ng-scrollbar {
        height: unset;
    }

    .modal-header p {
        text-align: center;
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
    }

    .-vertical  {
        width: 12px !important;
        .ng-scrollbar-thumb  {
            border-radius: 7px !important;
        }
    }

    ng-scrollbar {
        max-height: 60%;
        margin-top: 10%;
        h4 {
            margin: 0;
        }
    }

    button.item {
        position: relative;
        background: #fff;
        height: 200px;
        border: 1px solid gray;
        font-size: 1.4em;
        text-align: center;
        padding: 0;

        img {
            width: 100%;
            height: 160px;
            object-fit: cover;
        }

        .price {
            position: absolute;
            right: 0;
            display: inline-block;
            background: rgb(59, 59, 59);
            color: #fff;
            padding: 5px;
        }
        .name {
            padding: 5px;
        }

        .overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 1.5em;
            font-weight: bold;
            z-index: 100;
        }

        &.sold-out .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .select-opt {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }
            .name {
                background: #dadada;
                padding: 15px;
                width: 300px;
                font-weight: bold;
                font-size: 1.2em;
                color: #595959;
            }
        }

        .opts {
            background: #efefef;
            padding: 0 20px;
            ion-col {
                div.opt {
                    padding: 20px 0;
                    border: 2px solid #dadada;
                    border-radius: 10px;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2em;

                    p {
                        margin: 0;
                        margin-top: 3px;
                        font-size: 0.8em;
                    }

                    &.active {
                        border: 4px solid #000;
                    }
                }
            }
        }
    }

    .btn-select {
        background: #595959;
        color: #fff;
        font-size: 1.4em;
        font-weight: bold;
        margin: 15px auto;
        border-radius: 10px;
        padding: 25px 0;
        width: 150px;
        text-align: center;

        p {
            font-size: 0.8em;
            margin: 0;
            margin-top: 5px;
        }
    }
}
